.about__container {
    row-gap: 32px;
    text-align: center;
  }
  .about__content {
    box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
    padding: 18px 0;
    border-radius: 8px;
  }
  .about__subtitle {
    margin-bottom: 16px;
  }
  .about__text {
    text-align: center;
    padding: 0 16px;
  }
  .about__img {
    display: flex;
    justify-content: center;
  }
  .about__img img {
    box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
    object-fit: cover;
    width: 200px;
    height: 200px;
  }
