.home {
  margin-left: 10%;
  margin-right: 10%;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  }
  
  .home__data {
    align-self: center
  }

  .home__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .home__title {
    font-size: 45px;
    margin-bottom: 40px;
  }
  .home__title-color {
    color: var(--main);
  }
  .home__social {
    display: flex;
    padding-top: 16px;
  }
  
  .home__social i{
    font-size: 32px;
    color: var(--second);
    padding: 30px 40px 0 0;
  }
  
  .home__social i:hover {
    color: var(--main);
  }

  .home__img {
    display: none;
  }
  
  .button {
    display: inline-block;
    background-color: var(--main);
    color: white;
    padding: 12px 40px;
    font-weight: 600;
    border-radius: 8px;
  }
  
  .button:hover {
    box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
  }