/* header */
@media screen and (min-width: 768px) {

  .h-grid {
    width: 80%; 
  }
}

/* body */
@media screen and (min-width: 768px) {

  body {
    margin: 0;
  }

  .section {
    padding-top: 64px;
    padding-bottom: 48px; 
  }

  .section-title {
    font-size: 24px;
    margin-bottom: 48px;
  }

  .section-title::after {
    width: 80px;
    top: 48px;  
  }
}

/* nav */
@media screen and (min-width: 768px) {

  .nav {
    height: 72px;
  }

  .nav__list {
    display: flex;
    padding-top: 0;
  }

  .nav__item {
    margin-bottom: 0;
    margin-left: 48px;
  }

  .nav__toggle {
    display: none;
  }

  .nav__link {
    color: var(--second);
  }

  .nav__link__es,
  .nav__link__en {
    font-size: 12px;
  }

  .nav__link__en {
    margin-left: -32px;
  }

}

/* home */
@media screen and (min-width: 768px) {

  .home__text {
    display: flex;
    flex-direction: column;
  }
  
  .home__title {
    font-size: 60px;
  }
  
  .button {
    font-size: 20px;
  }
  
  .home {
    padding: 128px 0 0;      
  }
  
  .home__data {
    align-self: flex-end;
  }
  
  .home__social {
    padding-top: 30px;
    align-self: flex-start;
  }
  
  .home__social i {
    font-size: 40px;
    margin-top: 30px;
    padding-right: 30px;
  }
  
  .home__img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .home__img-perfil {
    width: 300px;
    border-radius: 50%;
  }
  
}

/* about me */
@media screen and (min-width: 768px) {

  .about__img img {
    width: 250px;
    height: 250px;
  }

  .about__container {
    padding-top: 32px;
    flex-direction: row;
  }

  .about__content {
    width: 50%;
    height: 30%;
  }

}

/* projects */
@media screen and (min-width: 768px) {

  .projects__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    padding-top: 2rem;
  }
  .projects__links {
    width: 350px;
    height: 350px;
    margin-bottom: 2rem;
  }
  .projects__links img {
    width: 350px;
    height: 230px;
    object-fit: contain;
  }

}

/* skills */
@media screen and (min-width: 768px) {

  .skills__container {
    margin-top: 10%;
  }
  
  .skills-title {
    margin-top: 5%;
  }

}


/* contact */
@media screen and (min-width: 768px) {

  .contact__social {
    width: 50%;
    max-width: 500px;
  }

  .contact__phone,
  .contact__map {
    justify-content: center;
    padding-bottom: 8px;
  }
  
  .icon-social {
    padding-bottom: 16px;
  }

}



/* fix querys */
@media screen and (max-width: 768px) {

  .skills__names img {
    width: 50px;
    height: 50px;
  }

}

@media screen and (max-width: 500px) {

  .contact__map span,
  .contact__phone span {
    font-size: 14px;
  }

  .footer__text {
    font-size: 12px;
  }

  .home__img {
    display: none;
  }

}

@media screen and (max-width: 405px) {

  .contact__map span,
  .contact__phone span {
    font-size: 12px;
  }

  .footer__text {
    font-size: 10px;
  }

}



  
  