.skills {
  height: 90vh;
}

.skills__container {
  margin-top: 10%;
  text-align: center;
}

.skills__subtitle {
  margin-bottom: 16px;
}

.skills-title {
  color: var(--main);
  font-size: 19px;
  margin-bottom: 48px;
}

.skills__names {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.skills__icons {
  height: 80px;
  transition: 0.5s;
}

.skills__icons:hover {
  transform: scale(1.19);
}

  
